hr{
    border-top: 2px solid #333;
}
html{
    text-align: center;
    background-color: #e0f7fa;
}
body{
    background: none;
    color: #661;
    padding-left: 10%;
    padding-right: 10%;
}
.user{
    padding-left: 75%;
}
#out {
    font-size: 16px; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
    color: #f39c12; /* 文字颜色，橙色 */
    background-color: #ffffff; /* 背景颜色，白色 */
    border: 2px solid #f39c12; /* 边框颜色，橙色 */
    border-radius: 5px; /* 圆角边框 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
    transition: all 0.3s; /* 平滑过渡效果 */
    text-transform: uppercase; /* 文字大写 */
    letter-spacing: 1px; /* 字母间距 */
    margin-top: 5px;
}

#out:hover {
    background-color: #f1c40f; /* 鼠标悬停时的背景颜色，橙色 */
    color: #ffffff; /* 鼠标悬停时的文字颜色，白色 */
}

#out:active {
    background-color: #e67e22; /* 按钮被按下时的背景颜色，深橙色 */
}
.green{
    font-size: 16px; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
    color: #3c763d; /* 文字颜色，绿色 */
    background-color: #ffffff; /* 背景颜色，白色 */
    border: 2px solid #3c763d; /* 边框颜色，绿色 */
    border-radius: 5px; /* 圆角边框 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
    transition: all 0.3s; /* 平滑过渡效果 */
    text-transform: uppercase; /* 文字大写 */
    letter-spacing: 1px; /* 字母间距 */
}

.green:hover{
    background-color: #5cb85c; /* 鼠标悬停时的背景颜色，浅绿色 */
    color: #ffffff; /* 鼠标悬停时的文字颜色，白色 */
}

.green:active{
    background-color: #3e8f3e; /* 按钮被按下时的背景颜色，深绿色 */
}
#ad{
    position: absolute;
    bottom: 0;
    left: 0;
}
#close{
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 20px;
    text-align: center;
    background: white;
    color: #bb2d3b;
    border: 2px solid #bb2d3b;
    position: absolute;
    top: 0;
    right: 0;
}