a{
    text-decoration:none;
    color:#6633FF;
}
a:hover {/* 鼠标移动到链接上 */
    color:#333399;
}
a:active { /* 鼠标点击时 */
    color:#0000FF;
}
.commodity{
    text-align: left;
    width: 300px;
    height: 350px;
}
img{
    border: 1px solid #0a53be;
    border-radius: 10px;
}
.price{
    color: red;
}
.d1{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
li{
    display: inline-block;
}